<div>
    <div class="container">
      <form submit="agregarDia()" (ngSubmit)="altaDisponibilidad()">
      <div *ngFor="let a of dias ; let i = index">
        <label>Especialidad</label>
        <select name="especialidad" [(ngModel)]="idEspecialidad">
          <option *ngFor="let esp of especialidad"[value]="esp.id_especialidad">{{esp.descripcion}}</option>
        </select>
        <label>Dia</label>
        <select name="dia">
          <option value="0">Lunes</option>
          <option value="1">Martes</option>
          <option value="2">Miercoles</option>
          <option value="3">Jueves</option>
          <option value="4">Viernes</option>
          <option value="5">Sabado</option>
        </select>
        <label>Horario entrada</label>
        <input name="entrada" type="time" min="08:00" max="19:00">
        <label>Horario salida</label>
        <input name="salida" type="time" max="19:00">
        <button (click)="agregarDia()">+</button>
      </div>
      <button type="submit">Terminar</button>
    </form>
    </div>
  </div>

