<div>
  <form [formGroup]="dispForm" class="modal-content animate" (ngSubmit)="subirDisponibilidad()" >
    <div class="container">
      <label><b>Especialidad:</b></label>
      <input type="text" [(ngModel)]="disponibilidad.especialidad" placeholder="email" [formControl]="email" required>
      <label>Dia de la semana:</label>
        <input [(ngModel)]="disponibilidad.dia_semana.lunes" type="checkbox" value="1">Lunes
        <input [(ngModel)]="disponibilidad.dia_semana.martes" type="checkbox" value="2">Martes
        <input [(ngModel)]="disponibilidad.dia_semana.miercoles" type="checkbox" value="3">Miercoles
        <input [(ngModel)]="disponibilidad.dia_semana.jueves" type="checkbox" value="4">Jueves
        <input [(ngModel)]="disponibilidad.dia_semana.viernes" type="checkbox" value="5">Viernes
        <input [(ngModel)]="disponibilidad.dia_semana.sabado" type="checkbox" value="6">Sabado
      <input type="time" max="19:00">
      <div>
        <button type="submit" [disabled]="!dispForm.valid">Crear</button>
      </div>
    </div>
  </form>
  </div>

