<app-menu></app-menu>
<body style="background-image: url('../assets/background.jpg')">
<div *ngIf="!nuevoUsuario" class="text-center">


  <button class="btn btn-lg btn-warning"  (click)="hacerNuevoUsuario()">Nuevo Usuario</button>


</div>
<div *ngIf="nuevoUsuario" class="text-center">
  <form [formGroup]="altaForm" class="" (ngSubmit)="crearUsuario()" >
    <div class="form-group">
      <label><b>Email:</b></label>
      <input type="email" [(ngModel)]="nuevoUsuario.email" placeholder="email" [formControl]="email" required>
    </div>
    <div class="form-group">
      <label><b>Password:</b>
        <input type="password" [(ngModel)]="nuevoUsuario.password" placeholder="password" [formControl]="password" required>
      </label>
    </div>
    <div class="form-group">
      <label><b>Tipo:</b></label>
      <select [(ngModel)]="nuevoUsuario.tipo"  [formControl]="tipo" required>
        <option value="cliente">Cliente</option>
        <option value="recepcionista">Recepcionista</option>
        <option value="especialista">Especialista</option>
      </select>
    </div>
      <div class="form-group">
        <label><b>Foto:</b></label>
        <input #imageInput type="file" accept="image/*" (change)="handleFileSelect($event)" [formControl]="foto" required>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="!altaForm.valid">Crear</button>
      </div>
  </form>
  </div>
</body>
