<img *ngIf="email" style="display: inline-block;
width: 50px;
height: 50px;
border-radius: 50%;" [src]="getSantizeUrl()"  >
<label>{{email}}</label>
<button *ngIf="email" class="btn btn-danger" (click)="logout()">Cerrar Sesión</button><br>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Clinica Buena Sonrisa</a>
        <img *ngIf="email" style="display: inline-block;
width: 50px;
height: 50px;
border-radius: 50%;" [src]="getSantizeUrl()"  >
        <label>{{email}}</label>
        <button *ngIf="email" class="btn btn-danger" (click)="logout()">Cerrar Sesión</button><br>
        
      </nav>