<app-email-sesion></app-email-sesion>
<button (click)="listadoTurnos()" *ngIf="cliente || recepcionista">Listado de turnos</button>
<button (click)="pedirTurno()" *ngIf="cliente || recepcionista">Pedir turno</button>
<button (click)="listadoConsultorios()" *ngIf="recepcionista">Listado de consultorios</button>
<button (click)="listaTurnos()" *ngIf="especialista">Listado de turnos</button>
<button (click)="historiaCliente()" *ngIf="cliente">Ver mis historias clinicas</button>
<button (click)="insertarTratamiento()" *ngIf="admin">Insertar tratamiento</button>
<button (click)="insertarEspecialidad()" *ngIf="admin">Insertar especialidad</button>
<button (click)="estadisticasEmpleados()" *ngIf="admin">Estadisticas empleados</button>
<button (click)="estadisticasTurnos()" *ngIf="admin">Estadisticas turnos</button>