<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/default.png" width="30" height="30" alt="">
            Clinica Buena Sonrisa</a>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" (click)="listadoTurnos()" *ngIf="cliente || recepcionista">Listado de turnos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"(click)="pedirTurno()" *ngIf="cliente || recepcionista">Pedir turno</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="listadoConsultorios()" *ngIf="recepcionista">Listado de consultorios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="listaTurnos()" *ngIf="especialista">Listado de turnos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="historiaCliente()" *ngIf="cliente">Ver mis historias clinicas</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" (click)="abrirForm()" *ngIf="admin">Dar de alta usuario</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" (click)="insertarTratamiento()" *ngIf="admin">Insertar tratamiento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="insertarEspecialidad()" *ngIf="admin">Insertar especialidad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="estadisticasEmpleados()" *ngIf="admin">Estadisticas empleados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="estadisticasTurnos()" *ngIf="admin">Estadisticas Turnos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="contacto()">Contacto</a>
            </li>
        </ul>
        <div class="my-2 my-lg-0"><app-email-sesion></app-email-sesion></div>          
        </div>
      </nav>