<app-email-sesion></app-email-sesion><br>
<app-boton-menu></app-boton-menu><br>
<div *ngIf="!nuevoTurno">


    <button class="btn btn-lg btn-warning btn-block"  (click)="hacerNuevoTurno()">Nuevo Turno</button>
  
  
  </div>
  <div *ngIf="nuevoTurno">
    <form [formGroup]="altaTurnoForm" class="modal-content animate" (ngSubmit)="crearTurno()" >
      <div class="container">
        <label><b>Dia:</b></label>
        <input type="date" [(ngModel)]="nuevoTurno.dia" placeholder="dia" [formControl]="dia" required>
        <label>Hora:</label>
        <input type="time" [(ngModel)]="nuevoTurno.hora" placeholder="hora" [formControl]="hora" required>
        <div class="form-group">
          <label><b>Especialista:</b></label>
          <select data-live-search="true" name="selectEspecialista" [(ngModel)]="idEspecialista" [formControl]="especialista">
            <option *ngFor="let esp of especialistas" [value]="esp.id_usuario">{{esp.email}}</option>
         </select>
        </div>
        <div>
          <button type="submit" [disabled]="!altaTurnoForm.valid">Crear</button>
        </div>
      </div>
    </form>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Turno asignado</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>Tu turno es en el consultorio {{nuevoTurno.id_consultorio}}</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>