<app-menu *ngIf="!especialista"></app-menu>
<table id="contentToConvert" class="table table-striped">
    <thead>
      <tr>
        <th>Dia</th>
        <th>Hora</th>
        <th *ngIf="recepcionista || especialista">Cliente</th>
        <th *ngIf="recepcionista || especialista">Recepcionista</th>
        <th *ngIf="!especialista">Especialista</th>
        <th>Consultorio</th>
        <th>Estado</th>
        <th *ngIf="recepcionista || especialista">Tratamiento</th>
        <th *ngIf="recepcionista">Cancelar Turno</th>
        <th *ngIf="especialista">Atender paciente</th>
        <th *ngIf="!recepcionista && !especialista">Encuesta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turno of listado" >
        <td>{{turno.dia}} </td>
        <td>{{turno.hora}} </td>
        <td *ngIf="recepcionista || especialista">{{turno.cliente}} </td>
        <td *ngIf="recepcionista || especialista">{{turno.recepcionista}} </td>
        <td *ngIf="!especialista">{{turno.id_especialista}}</td>
        <td>{{turno.id_consultorio}}</td>
        <td [appColor]="turno.estado">{{turno.estado}}</td>
        <td *ngIf="recepcionista || especialista">{{turno.id_tratamiento}} </td>
        <td *ngIf="recepcionista && turno.estado=='asignado'"><app-cancelar-turno [idTurno]="turno.id_turno"></app-cancelar-turno></td>
        <td *ngIf="especialista && turno.estado=='asignado'"><app-atender-paciente [paciente]="turno.cliente" [idTurno]="turno.id_turno"></app-atender-paciente></td>
        <td *ngIf="(!recepcionista && !especialista) && turno.estado=='atendido'"><app-boton-encuesta [idTurno]="turno.id_turno"></app-boton-encuesta></td>
      </tr>
    </tbody>
  </table>
<input type="button" class="btn btn-primary" value="Descargar PDF" (click)="captureScreen()"/> 
<angular2csv [data]="listado" filename="CSV_FILE" [options]="options"></angular2csv>