<app-menu></app-menu>
<body style="background-image: url('../assets/background.jpg')"><br>
  <div class="text-center">
      <div  class="btn-group">
          <button class="btn btn-primary" (click)="conexiones()">Mostrar Conexiones</button>
          <button class="btn btn-primary">Mostrar Turnos</button>
        </div>
  </div>  
<div *ngIf="conexioness">
  <h2>Conexiones</h2>
  <table class="table table-condensed" style="border-width: 2px; border-color: black; border-style: solid;">
    <thead>
      <tr>
        <th>Email</th>
        <th>Último día conexión</th>
        <th>Última hora conexión</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of listadoUsuarios" >
        <td>{{usuario.usuario}} </td>
        <td>{{usuario.ult_conexion_dia}}</td>
        <td>{{usuario.ult_conexion_hora}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="turnoss">
    <h2>Turnos</h2>
    <table class="table table-condensed" style="border-width: 2px; border-color: black; border-style: solid;">
      <thead>
        <tr>
          <th>Email</th>
          <th>Último día conexión</th>
          <th>Última hora conexión</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of listadoUsuarios" >
          <td>{{usuario.usuario}} </td>
          <td>{{usuario.ult_conexion_dia}}</td>
          <td>{{usuario.ult_conexion_hora}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>