<app-menu></app-menu>
<table class="table table-condensed" style="border-width: 2px; border-color: black; border-style: solid;">
    <thead>
      <tr>
        <th>Numero Consultorio</th>
        <th>Estado</th>
        <th>Atención</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consultorio of listado" >
        <td>{{consultorio.id_consultorio}} </td>
        <td>{{consultorio.estado}} </td>
        <td [appColor]="consultorio.atencion" >{{consultorio.atencion}} </td>
      </tr>
    </tbody>
  </table>