<!--<div *ngIf="idTurno">
  <button class="btn btn-lg btn-warning btn-block"  (click)="hacerNuevaEncuesta()">Tomar encuesta</button>
</div>-->
<body style="background-image: url('../assets/background.jpg')">
<div class="text-center" *ngIf="idTurno">
  <form [formGroup]="encuestaForm" class="" (ngSubmit)="completar()" >
    <div class="form-group">
      <label><b>Puntuación de la clínica:</b></label>
      <input type="range" min="1" max="10" [(ngModel)]="nuevaEncuesta.clinica" [formControl]="clinica" required>
    </div>
    <div class="form-group">
      <label><b>Puntuación del especialista:</b></label>
      <input type="range" min="1" max="10" [(ngModel)]="nuevaEncuesta.especialista" [formControl]="especialista" required>
    </div>
    
      <label><b>Comentarios:</b></label>
      <div class="text-center">
        <textarea maxlength="66"[(ngModel)]="nuevaEncuesta.opinion" [formControl]="comentarios" required></textarea>
      </div>
    
      <div class="form-group">
        <button class="form-control" type="submit" class="btn btn-primary" [disabled]="!encuestaForm.valid">Completar encuesta</button>
      </div>
  </form>
  </div>
</body>