<script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key" type="text/javascript"></script>
<div>
  <form [formGroup]="loginForm" class="modal-content animate" (ngSubmit)="login()" >
    <div class="container">
      <label><b>Email:</b></label>
      <input type="email" [(ngModel)]="usuario.email" placeholder="email" [formControl]="email" required>
      <label>Password:
        <input type="password" [(ngModel)]="usuario.password" placeholder="password" [formControl]="password" required>
      </label>
      <div class="row align-items-center">
        <re-captcha (resolved)="resolved($event)" siteKey="{{siteKeyCaptcha}}"></re-captcha>
      </div>
      <div>
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </div>
  </form>
  </div>
  <button class="btn btn-warning"  (click)="volverInicio()">Volver al inicio</button>
